<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Página Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>
    <body>
        <header>
            <div class="container">
                <a href="{{ url_for('homepage') }}" class="logo">Meu App</a>
                <nav>
                    <!-- Usando 'indice' conforme corrigimos anteriormente -->
                    <a href="{{ url_for('homepage') }}">Início</a>
                    <a href="{{ url_for('stack')}}">Stack</a>
                    <a href="{{ url_for('cadastro') }}">Cadastro</a>
                    <a href="{{ url_for('login_get') }}">Login</a>
                    <a href="{{ url_for('dados_usuario') }}">Usuário</a>
                </nav>
            </div>
        </header>
        {% block content %} 
        <main>
                <div class="welcome-card">

                <!-- Ícone de Boas-Vindas -->
                <div class="icon">
                    🎉
                </div>

                <!-- Título Principal -->
                <h1 class="main-title">
                    Olá! Seja Bem-Vindo(a).
                </h1>

                <!-- Mensagem Secundária/Dica -->
                <p class="secondary-message">
                    Clique acima para navegar entre as páginas.
                </p>

            </div>
            
        </main>
        {% endblock %}
        <footer>
            <div class="container">
                <p>&copy; Construído com ❤️ | Feito com Flask.</p>
            </div>
        </footer>

    </body>
</html>